        </div>
      </div>
    </div>
  </main>
</body>
<footer class="page-footer white">
  <hr class="footer-hr">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h5 class="black-text">Footer Content</h5>
        <p class="black-text">You can use rows and columns here to organize your footer content.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright white">
    <div class="container grey-text text-lighten-1">
    © 2020 Copyright
    </div>
  </div>
</footer>
</html>