body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.section {
  margin-bottom: 50px;
}

a {
  color: #00b7ff;
  width: 100%;
}

.cuisine-image {
  max-height: 250px;
  min-height: 86px;
  width: auto;
}

.login img {
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 12px;
}

.cuisine-title {
  float: left;
}

.add-btn {
  float: right;
}

.delete-btn {
  float: right;
}

/*cuisine new page*/
#cuisine-select {
  margin-left: 0.5px;
}

/* show page */

.content-box {
  margin-bottom: 0;
}

.recipe-image {
  height: 70vmin;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.add {
  text-decoration: none;
  color: white;
}

.recipe-content {
  margin: 0 15px;
  text-align: left;
}

.recipe-content > p {
  margin-bottom: 0;
  text-align: left;
}

.footer-icon {
  margin-bottom: 5px;
}

.recipe-title {
  text-align: center;
  font-size: 20px;
}

/* recipe show page*/
ul > li {
  margin: 10px;
  padding-left: 20px;
}

.directions-content {
  margin: 5px 5px;
  padding: 5px;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

/*rating function*/
.rating {
  border: none;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}
.rating > input {
  display: none;
}
.rating > label:before {
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
}
.rating > label {
  color: #c4c4c4;
  float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: black;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: black;
}

/*end rating function*/

.comment-input {
  float: right !important;
}

.like-box {
  margin-top: 8em;
}

.comment-box {
  margin-top: 15em;
  margin-bottom: 4em;
}

.comment-head {
  margin-top: 8em;
}

.comment-body {
  margin-top: 4em;
}

.like-comment {
  display: inline;
  margin-left: 2em;
}
