body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  color: #00b7ff;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/* INDEX */
.area {
  font-size: 12px;
  line-height: 0.75rem;
}
.card .card-title {
  font-size: 20px;
}

.card-image {
  overflow: hidden;

  width: 100%;

  position: relative;
}

.card-image:before {
  content: "";

  display: block;

  padding-bottom: 75%; /* 600 / 800 = 0,75 */
}

.team-member .card-image:before {
  padding-bottom: 100%;
}

.card-image > * {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 305px;
  height: 230px;
}

.card-image > img {
  bottom: auto;
  right: auto;

  width: 100%;

  height: auto !important;
}

.card .card-content {
  min-height: 105px;
}
.card .card-content .card-title {
  line-height: 22px;
  padding-top: 10px;
}
.title {
  color: #846c63 !important;
  text-transform: uppercase;
}

.cuisine-title {
  float: left;
}

.add-btn {
  float: right;
}

.delete-btn {
  float: right;
}

/*cuisine new page*/
#cuisine-select {
  margin-left: 0.5px;
}

/* show page */

.content-box {
  margin-bottom: 0;
}

.recipe-image {
  height: 450px;
  width: 930px;
  position: relative;
  margin-bottom: 15px;
}

.add {
  text-decoration: none;
  color: white;
}

.recipe-content {
  margin: 0 15px;
}

.recipe-content > p {
  margin-bottom: 0;
  text-align: left;
}

.footer-icon {
  margin-bottom: 5px;
}

.recipe-title {
  text-align: center;
  font-size: 20px;
}
