<%- include('../partials/header') %>

<div class="section">
  <div class="col s12">
    <h1><%= title %></h1>
    <hr>
    <div class="row">
      <div class="col s12 ">
        <p>edit page</p>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>