<%- include('../partials/header') %>

<div class="section">
  <div class="col s12">
    <h1><%= title %></h1>
    <div class="row">
      <div class="col s12 ">
        <img class="aboutme-image" src="/images/SB_chef-3.png">
      </div>
      <p class="aboutme-content">
        Before COVID-19
        I was a passionate sushi chef who loves and enjoys being in the culinary field everyday.
      </p>
      <p class="aboutme-content">But now I become Software Engineer. My strong passion in creating new dishes easily transformed into building new products, enjoying finding a path to solving problems.
        From several years of fine-dining experience.
      </p>
    </div>
    <a class="white-text" href="/">
      <button class="waves-effect black btn-small delete-btn back-btn">
        <i class="tiny material-icons white-text">arrow_back</i>
      </button>
    </a>
  </div>
</div>

<%- include('../partials/footer') %>